---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductCard from "../components/product/ProductCard.astro";
import { products } from "../data/products";
---

<BaseLayout title="Inicio">
	<h1>Productos</h1>

	<section class="grid">
		{products.map((product) => <ProductCard product={product} />)}
	</section>
</BaseLayout>

<style>
	.grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
</style>
