---
import "../styles/global.css";
const { title = "E-commerce Astro" } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
  </body>
</html>
